@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.post-list-container {
  max-height: 550px; /* Chiều cao tối đa cho vùng cuộn */
  overflow-y: scroll; /* Cho phép cuộn dọc */
  overflow-x: hidden; /* Ẩn cuộn ngang */
  scrollbar-width: none; /* Firefox: Ẩn thanh cuộn */
  -ms-overflow-style: none; /* IE và Edge: Ẩn thanh cuộn */
}

.post-list-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari và Opera: Ẩn thanh cuộn */
}
